/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
/*body {
  padding-top: 70px;
}*/

footer{padding: 30px 0;}
footer.footer{background-color: #000;border-top:#22b234;color:#fff;padding-top: 40px;margin-top: 80px;}
img{width: 100%;}
.my-image{width: 25px;}
.my-carousel img{max-height: 273px;}
.my-carousel{margin-bottom: 20px;}
.navbar-green{background-color: #22b38a;border-radius:0;}
.navbar-green a{color:#fff;}
.my-nav{ padding-left: 180px; width: 100%; box-sizing: border-box; }
.my-nav>ul>li{ width: 20%; text-align: center; position: relative; border-bottom: 1px solid #22b38a;}
.my-nav>ul>li:hover a{ color: #22b38a; background: #fff; }
/*.my-nav ul li:hover{border-bottom: 1px solid #22b38a;border-top: 1px solid #22b38a;}*/
.my-nav>ul>li:after{content: "";
    position: absolute;
    background-color: #b0f6e2;
    width: 1px;
    height: 16px;
    top: 17px;
    right: 0;}
.my-nav>ul>li:nth-child(5n):after{ display: none; }
.my-nav   ul{ width: 100%; }
/*.my-logo{ width: 180px; }*/
.my-nav>ul li.nav-cate:hover i{ transform: rotate(180deg);
-o-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(Rotation=2); }
.my-recommand-block{border: 1px solid #e0e0e0;border-radius: 4px;margin-bottom: 20px;}
div.my-color>.panel-heading{background-color: #22b38a;color: #fff;border: 1px solid #22b38a;}
/*div.my-notice>.panel-heading{background-color: #22b38a;color: #fff;border: 1px solid #22b38a;}*/
.my-tag>a.btn{padding:1px 0px;margin-bottom: 5px;}
/*.my-left{margin-right: 5%;}*/
.input-group-lg{margin-bottom: 20px;}
.input-group-lg .my-search{ height: 34px; }
.input-group-lg .my-search-button{  background-color: #22b38a; height: 34px; padding: 0 10px;}
.my-search-button i{ color: #fff; }
.my-article-desc.less {
    max-height: 104px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my_right{ float: right; padding-left: 40px; }
.footer-link ul{ width: 100%; overflow: hidden; }
.footer-link ul li{ width: 50%; float: left; }
.footer-link ul li a{ color: #fff; line-height: 26px;}
.footer-copy{   border-top: 1px solid #f2f5f7;
    padding-top: 10px;
    margin-top: 10px;}
.comment-body {border-bottom: 1px dashed #e0e0e0;margin-bottom: 10px;}
/*.comment-body.small-comment{bottom: 1px solid #e0e0e0;}*/
.comment-body.small-comment p {line-height: 24px;margin-bottom: 5px;}
.comment-body .comment-image{width: 30px;float: left;}
.comment-body .comment-text{width: 90%;float: left;line-height: 30px;}
.comment-body .comment-text .comment-submit{margin-top: 10px;}
.comment-body .comment-notice{color: #a94442;}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
