<div class="col-xs-12 col-sm-4" id="sidebar">
  <div class="panel panel-default my-color">
    <div class="panel-heading">本周排行</div>
    <div class="panel-body my_body">
        <{foreach from=$highClickArticleList item=item}>
          <p><a href="<{$item.requestpath}>"><{$item.title}></a>(<{$item.clickcount}>人看过)</p>
        <{/foreach}>
    </div>
  </div>
  <div class="panel panel-default my-color">
    <div class="panel-heading">热门标签</div>
    <div class="my-tag">
      <{foreach from=$hotTagList key=k item=item}>
          <a href="#" class="btn btn-<{if $k%4 == 0}>info
          <{elseif $k%4 == 1}>success
          <{elseif $k%4 == 2}>primary
          <{elseif $k%4 == 3}>warning
          <{/if}>
          ">
            <{$item.displayname}>
          </a>
      <{/foreach}>
    </div>
  </div>

  <div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs my-nav-tabs">
      <li role="presentation" class="active"><a href="#tab_1_1" data-toggle="tab">最新评论</a></li>
      <li role="presentation"><a href="#tab_1_3" data-toggle="tab">最新留言</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1_1">
        <{foreach $newestCommentList as $ncl}>
          <p>
              <{$ncl@key+1}>.<span style="color: red;"><{$ncl.username}></span> <{$ncl.addtime|format_date_V2}> 在<a href="<{$ncl.requestpath}>"><< <{$ncl.title}> >></a>评论了: <{$ncl.content}>
          </p>
        <{foreachelse}>
          <p>暂无评论!</p>
        <{/foreach}>
      </div>
      <div class="tab-pane" id="tab_1_3">
        <p>暂无留言</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default my-color my-newest-article">
    <div class="panel-heading">最新文章</div>
    <div class="panel-body my-body">
      <{foreach from=$newestArticleList item=item}>
        <div>
          <a href="<{$item.requestpath}>" class="my-img-link">
            <span style="background-image:url(<{$smarty.const.IMG_URL}><{$item.image}>)" class="thumbnail" alt=""></span>
          </a>
          <p>
            <a href="<{$item.requestpath}>" ><{$item.title}></a>
            <span>at&nbsp;<{$item.addtime}></span></p>
        </div>
      <{/foreach}>
    </div>
  </div>
</div>