<div class="col-xs-6 col-sm-4 sidebar-offcanvas my_right" id="sidebar">
  <div class="panel panel-default my-color">
    <div class="panel-heading">本周排行</div>
    <div class="panel-body my_body">
      <p><a href="#">backend.mcgoldfish.com后台开发日志</a>(500人看过)</p>
      <p><a href="#">在阿里云ubuntu14.04部署nginx+php+mysql开发环境</a>(500人看过)</p>
      <p><a href="#">后台开发计划-6月</a>(500人看过)</p>
      <p><a href="#">mcgoldfish.com网站开发计划</a>(500人看过)</p>
      <p><a href="#">在ubuntu下部署rsync服务实现代码同步</a>(500人看过)</p>
      <p><a href="#">[歌曲推荐]那些背后藏着故事的歌</a>(500人看过)</p>
      <p><a href="#">姑娘，我用你的名字写了一首歌</a>(500人看过)</p>
    </div>
  </div>
  <div class="panel panel-default my-color">
    <div class="panel-heading">热门标签</div>
    <div class="my-tag">
      <{foreach from=$hotTagList key=k item=item}>
          <a href="#" class="btn btn-<{if $k%4 == 0}>info
          <{elseif $k%4 == 1}>success
          <{elseif $k%4 == 2}>primary
          <{elseif $k%4 == 3}>warning
          <{/if}>
          ">
            <{$item.displayname}>
          </a>
      <{/foreach}>
    </div>
  </div>

  <div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#tab_1_1" data-toggle="tab">最新评论</a></li>
      <li role="presentation"><a href="#tab_1_3" data-toggle="tab">最新留言</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1_1">
        <p>1</p>
      </div>
      <div class="tab-pane" id="tab_1_2">
        <p>2</p>
      </div>
      <div class="tab-pane" id="tab_1_3">
        <p>3</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default my-color my-newest-article">
    <div class="panel-heading">最新文章</div>
    <div class="panel-body my-body">
      <{foreach from=$newestArticleList item=item}>
        <div>
          <a href="<{$item.requestpath}>" class="my-img-link"><span style="background-image:url(<{$smarty.const.IMG_URL}><{$item.image}>)" class="thumbnail" alt=""></span><!-- <img src="" > --></a>
          <p ><a href="<{$item.requestpath}>" ><{$item.title}></a><span>at&nbsp;<{$item.addtime}></span></p>
        </div>
      <{/foreach}>
    </div>
  </div>
</div>