<nav class="navbar my-navbar">
  <div class="container my-container">
    <div class="navbar-header my-logo">
      <a class="navbar-brand" href="/">
        <img src="http://img.mcgoldfish.com/albumImage/2016-08-05/57a46e6d05e20.png" >
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse my-nav">
      <ul class="nav navbar-nav">
        <{foreach from=$navList item=item}>
          <li><a href="<{$item.requestpath}>"><{$item.displayname}></a></li>
        <{/foreach}>
      </ul>
      <div class="my-search">
        <form class="form-inline" action="/search/" method="get">
            <div class="form-group search-form">
                <i class="glyphicon glyphicon-search my-search-btn"></i>
                <input type="text" class="form-control input-search" name="q" id="keywords" placeholder="搜索" autocomplete="off">
            </div>
        </form>
    </div>
    </div>
  </div>
</nav>