<div class="breadcrumb comment-frame">
    <p class="bold"><{if $commentCount > 0}>共<{$commentCount}>条评论<{else}>暂无评论<{/if}></p>
    <div class="comment-body clearfix comment-copy">
      <div class="comment-text">
        <p>
          <textarea class="form-control my-comment-data" rows="3" placeholder="我有话说...."></textarea>
        </p>
        <form class="form-inline hidden my-comment-form">
          <div class="form-group">
            <label for="exampleInputName2">姓名</label>
            <input type="text" class="form-control my-comment-usernanme" placeholder="Jane Doe">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">电子邮件</label>
            <input type="email" class="form-control my-comment-useremail" placeholder="jane.doe@example.com">
          </div>
          <button type="button" class="btn btn-primary btn-sm my-comment-submit">发布</button>
        </form>
      </div>
    </div>
    <p class="bold">评论列表</p>
    <div class="comment-body clearfix small-comment hidden">
      <div class="comment-text">
        <p class="comment-user">
          <!-- <i class="glyphicon glyphicon-user"></i>褚魁&nbsp&nbsp -->
          <i class="glyphicon glyphicon-time"></i>&nbsp刚刚&nbsp
          <span class="comment-notice">待审核!</span>
        </p>
        <p class="comment-content"></p>
      </div>
    </div>
    <{if is_array($commentList) && count($commentList) > 0}>
      <{foreach from=$commentList  item=item}>
        <div class="comment-body clearfix small-comment" data-comment-id="<{$item.id}>">
          <div class="comment-text">
            <p>
              <i class="glyphicon glyphicon-user"></i><{$item.username}>&nbsp&nbsp
              <i class="glyphicon glyphicon-time"></i>&nbsp<{$item.addtime|format_date_V2}>&nbsp
              <a href="javascript:void(0);" class="btn btn-success hidden btn-xs data-comment-reply">回复</a>
              <a href="#" class="btn btn-success hidden btn-xs">赞(<{$item.goodvote}>)</a>
              <a href="#" class="btn btn-success hidden btn-xs">鄙视(<{$item.badvote}>)</a>
            </p>
            <p>
              <{$item.content}>
            </p>
          </div>
        </div>
      <{/foreach}>
    <{/if}>
</div>