<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="../css/mcgf.css" type="text/css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MCgoldfish</title>
</head>

<body>
<header>
	<!--web notice start-->
	<div class="notice">
    	<div class="main">
        <b>网站公告</b><span>：这是一个在当地比较特别的网站</span>
        </div>
    </div>
    <!--web notice end-->
    <!--nav start-->
    <div class="nav">
        <div class="main">
        	<div class="logo">LOGO</div>
            <ul>
            	<li><a href="#">网站首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li class="category"><a href="#">分类</a>
                    <!--nav_2 start-->
                    <!--<div class="nav_2">
                        <ul><a href="#">代码</a></ul>
                        <ul><a href="#">设计</a></ul>
                        <ul><a href="#">生活/兴趣</a></ul>
                        <ul><a href="#">工作</a></ul>
                    </div> -->   
                    <!--nav_2 end-->
                </li>
                <li><a href="#">相册</a></li>
                <li><a href="#">足迹</a></li>
                <li><a href="#">留言板</a></li>
            </ul>
        </div>
    </div>
    <!--nav end-->
</header>
<!--main contents start-->
<div class="main_contents">
	<div class="main">
        	<!--breadcrumb start-->
        	<div class="breadcrumb">
                <span><a href="#">网站首页</a></span>
                <span><a href="#">相册</a></span>
                <span>时光掠影</span>
            </div>
            <!--breadcrumb end-->
            <!--album start-->
            <div class="album">
            	<div class="cover"><img src="../img/photo/1.jpg" /></div>
                <div class="album_mes">
                	<h4>《时光掠影》</h4>
                    <p>非原创，关于关于光阴，关于阴影，关于摄影...</p>
                    <div class="interaction">
                    	<div class="zambia"><i></i>45</div>
                    	<div class="view"><i></i>45</div>
                		<div class="write"><i></i>45</div>           	             		
            		</div>
                </div>
            </div>
            <!--album end-->
            <ul class="pic">
            	<li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <li><a href="#"><img src="../img/photo/1.jpg" /><div class="zambia"><i></i></div></a></li>
                <!--page choice start-->
                <div class="page_choice">
                     <a>1</a>
                     <a>2</a>
                     <a>3</a>
                     <a class="next"></a>
                     <a class="last"></a>
                </div>
                <!--page choice end-->
            </ul>
            <!--other photo start -->
            <div class="other_photo">
            	<h3><span>其他相册</span>OTHERS</h3>
            	<ul class="photo">
            	<li>
                	<div class="cover">
                    	<a href="#">
                    		<img src="../img/photo/1.jpg" />
                        </a>
                    </div>
                    <span class="photo_title">《时光掠影》</span>
                	<div class="interaction">
                    	<div class="zambia"><i></i>45</div>
                    	<div class="view"><i></i>45</div>
                		<div class="write"><i></i>45</div>           	             		
            		</div>
                </li>
                <li>
                	<div class="cover">
                    	<a href="#">
                    		<img src="../img/photo/1.jpg" />
                        </a>
                    </div>
                    <span class="photo_title">《时光掠影》</span>
                	<div class="interaction">
                    	<div class="zambia"><i></i>45</div>
                    	<div class="view"><i></i>45</div>
                		<div class="write"><i></i>45</div>           	             		
            		</div>
                </li>
                <li>
                	<div class="cover">
                    	<a href="#">
                    		<img src="../img/photo/1.jpg" />
                        </a>
                    </div>
                    <span class="photo_title">《时光掠影》</span>
                	<div class="interaction">
                    	<div class="zambia"><i></i>45</div>
                    	<div class="view"><i></i>45</div>
                		<div class="write"><i></i>45</div>           	             		
            		</div>
                </li>
                <li>
                	<div class="cover">
                    	<a href="#">
                    		<img src="../img/photo/1.jpg" />
                        </a>
                    </div>
                    <span class="photo_title">《时光掠影》</span>
                	<div class="interaction">
                    	<div class="zambia"><i></i>45</div>
                    	<div class="view"><i></i>45</div>
                		<div class="write"><i></i>45</div>           	             		
            		</div>
                </li>
            </ul>
            </div>
            <!--other photo end -->
       
    	
    </div>
</div>
<!--main contents end-->
<!--footer start-->
<footer>
	<div class="main">
    <div class="f">
    	<div class="f_1">
        	<h4>MCGoldFish.com</h4>
            <a>所有分类</a>
            <a>所有标签</a>
            <a>所有相册</a>
            <a>所有图片</a>
            <a>碎碎念</a>
            <a>关于我们</a>
        </div>
        <div class="f_2">
            <h4>程序交流</h4>
            <span>程序：XXX</span>
            <span>版本：XXX</span>
            <span>框架：XXX</span>
            <span>语言：XXX</span>
            <span>编码：XXX</span>
            <span>作者：XXX</span>
        </div>
        <div class="f_3">
        	<h4>足迹</h4>
            <a href="#">武汉</a><a href="#">上海</a><a href="#">TB</a><a href="#">建站</a><a href="#">武汉</a><a href="#">上海</a><a href="#">TB</a><a href="#">建站</a>
        </div>
        </div>
        <div class="footer">
        	<span>© 2016 - 2017 XXXX & 版权所有</span>
            <p>
            	<a href="#">管理登陆</a>
                <a href="#">站长统计</a>
                <a href="#">沪ICP备15000791号-1</a>   
            </p>
        </div>
    </div>
</footer>
<!--footer end-->
</body>
</html>
