<{include file="block_head.html"}>
  <body>
    <{include file="block_nav.html"}>
    <{include file="block_carousel_v2.html"}>
    <{include file="block_notice.html"}>
    <div class="container my-index-container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-8">
              <{include file="block_recommand_article.html"}>
        </div>
        <{include file="block_right_area.html"}>
      </div>
    </div>
    <{include file="block_footer.html"}>
    <{include file="block_footer_js.html"}>
  </body>
</html>
